
body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

table {
  margin: auto
}

label {
  display: block;
  text-align: right;
  padding: 10px 5px;
}

button {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #0054A6;
  font-size: 20px;
  color: white;
}
input {
  border-width: 2px;
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

main {
  text-align: center;
}

header {
  border: solid black;
  border-width: 0 0 1px 0;
  padding-bottom: 2%;
}
header div {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
header div img {
  width: 15%;
}
header #hamburger {
  width: 12%;
  padding: 1.5%;
  float: right;
}
header div h1 {
  display: inline-block;
  padding: 0; margin: 0;
  padding-top: 2%;
  font-size: 9vw;
}




h4 {
  margin-top: 30px;
}
